
# IDE
# build files
# deprecated code
# eval scripts symbolically linked from ThreedFront
# log files
# output dir
# virtual env
*.egg
*.egg-info
*.log-*
*.o
*.pngpretrained_local/
*.so
*__pycache__*
.idea/
.vscode/
_*/
build/
output/
scripts/compute_fid_scores.py
scripts/evaluate_kl_divergence_object_category.py
scripts/render_results.py
scripts/synthetic_vs_real_classifier.py
scripts/wandb/
venv*/
wandb/
